
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: linear-gradient(135deg, #929ba3, #929ba3);
  color: #50b8b2;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.container {
  background: rgba(229, 233, 233, 0.877);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(52, 53, 53, 0.2);
  width: 350px;
  text-align: center;
}

h1 {
  margin-bottom: 8px;
  color: #929ba3;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 16px;
  border: 1px solid #ccc;
  transition:transform 1s;
}
input :hover{

}

button {
  margin-top: 20px;
  width: 100%;
  background: #0072ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  transition:transform 1s;
}

button:hover {
  background: #005ecc;
}

#result {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
}
